.git
.pytest_cache
.pytest-*
__pycache__
*.pyc
.env
.env.*
*.env
*.env.*
production.env
production.env.*
**/.env
**/.env.*
**/*.env
**/*.env.*
**/production.env
**/production.env.*
*.pem
**/*.pem
*.key
**/*.key
*.crt
**/*.crt
*.p12
**/*.p12
*.pfx
**/*.pfx
secret
secret/**
**/secret
**/secret/**
secrets
secrets/**
**/secrets
**/secrets/**
credentials
credentials/**
**/credentials
**/credentials/**
soc.db
logs
work
tests
